:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  margin: 40px;
}

.single {
  margin: 8px;
}

.todo {
  background-color: #363030;
  display: flex;
  justify-content: space-between;
}

.todo:hover {
  background-color: #4d4d4d;
}

.icons {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.check {
  background-color: green;
}

.star {
  background-color: gold;
}

.close:hover {
  background-color: red;
}

.add-todo{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.add-todo input, button{
  padding: 10px;
}
.add-todo input{
  width: 70%;
  border: none;
}
.add-todo button{
  width: 20%;
  border: none;
  background-color: #4d4d4d;
  color: white;
}